{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'mdm/style.css' %}" />
{% endblock %}

{% block java_script %}
<script type="text/javascript" src=""></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
    });
</script>
{% endblock %}

{% block content %}
<table class="table table-striped table-condensed">
  <tbody>
    <th>Certificate Authority</th>
    <td>
{% if ca %}
      Configured
{% else %}
      <a class="btn btn-info" href="{% url 'config_generateCA' %}">Configure</a>
{% endif %}
    </td>
  </body>
</table>
{% endblock %}
